<form method="post" action="/update" enctype="multipart/form-data">
    <label for="">Id: 
        <input type="text" value="{{empleado[0]}}" name="txtId" id="txtId">
    </label>
    <br>
    <label for="">Nombre: 
     <input type="text" value="{{empleado[1]}}" name="txtNombre" id="txtNombre">
    </label>
     <br>
     <label for="">
     Puesto:
     <input type="text" value="{{empleado[2]}}" name="txtPuesto" id="txtPuesto">
     </label>
     <br>
     <label for="">
       Foto:
       <br>
        <img class="img-thumbnail" width="100" src="imagenes/{{url_for('imagenes', nombreDeFoto=empleado[3]) }}" alt="">
     <br>

     <input type="file" name="txtFoto" id="txtFoto">
     </label>
     <br>
 
     <input type="submit" value="Editar">
 </form>
